/* Grace Graves, June 9, CS 125H - Final Term Project.*/
/*Color pallette: #290A1A - says unnamed but Color Designer claims its Meski Black, #87b38d - Muted Teal, #FFA5A5 - Powder Blush, #922D50 - Vintage Berry, #F1BEA3 - Peach Beige, #490E22 - Vermilion*/
:root {
    --accent-color: #290A1A;
}
*{  
	margin: 0;  
	padding: 0;  
	box-sizing: border-box;  
} 
body {
    font-family: 'Courier New', serif, monospace;
    font-size: 100%;
    width: 85%;
    max-width: 1000px;
    margin: 1em auto;
}

/*Navbar Links*/
a:link {
    color: #87b38d;
    opacity: 120;
    text-decoration: none;
}
a:visited {
    color: grey;
}
a:hover, a:focus {
    color: #922d50;
    font-style: italic;
    font-weight: 400;
    text-decoration: underline;
}
/*General Format*/
h2, h3, h4 {
    text-align: center;
    margin: 1em 0;
}
p {
    font-size: 100%;
    line-height: 120%;
}
/*Index Header*/
#line {
    font-size: 60%;
    word-spacing: -.2em;
    text-decoration-line: underline;
    color: var(--accent-color);
}
header {
    display: flex;
    align-items: center;
    margin: auto;
    width: 85%;
    color: var(--accent-color);
}
header img {
    max-width: 300px;
    border-radius: 50%;
}
header h1 {
    text-align: center;
    letter-spacing: .1em;
    margin-left: 1em;
}

/*General Main*/
main {
    padding: 1em 1em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2em;
    & h2 {
        font-size: 167%;
    }
    & h3 {
        font-size: 140%;
    }
    & h4 {
        font-size: 135%;
        margin: auto;
        text-shadow: 1px 1px 1px #922d50;
    }
}

main p {
    padding: 1 em;
    border-radius: 7px;
    text-align: justify;
    hyphens: auto;
    text-align-last: center;
    text-indent: 1%;
    line-height: 1.3em;
    color: var(--accent-color);
    font-weight: bold;
    background-color: #ffa5a5;
}
main p::first-letter{
    font-size: 180%;
    font-style: italic;
    font-weight: 200;
    color: #490e22;
} 
/* Navbar aside index */
main aside {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 180px;
    margin-top: 6.3em;
    padding: 1em;
    border: 3px groove #922d50;
    position: sticky;
    top: 0;
    background-color: #ffa5a5;
    box-shadow: 2px 1px black;
    overflow: auto;
}
main aside h3, main aside p {
    margin: .3em 0;
    line-height: 1.3em;
    font-size: 140%;
    font-variant: small-caps;
    font-weight: bold;
}
main aside h4 {
    margin: .3em 0;
    font-size: 115%;
}
main aside img {
    display: block;
    margin: 0 auto;
    max-width: 100px;
}
main aside nav li {
    padding: .3em 0;
    padding-bottom: .6em;
    line-height: 1.6em;
    list-style-type: none;
    text-align: center;
    border-bottom: 1px solid var(--accent-color);
}

/*Section styles*/
main section {
    padding: 1.5em;
}
section h3 {
    text-shadow: -1px -1px 1px var(--accent-color);
    font-weight: 700;
    text-decoration: underline wavy;
    color: #f1bea3;
    text-underline-offset: .3em;
}
section p {
    border-right: 2px solid var(--accent-color);
    border-left: 2px solid var(--accent-color);
    border-bottom: none;
}

/*Styles for poemwall & photorealm nav*/
#poemwall section, #photorealm section {
    border: 2px solid var(--accent-color);
    border-radius: 6px;
}
#poemwall nav, #photorealm nav {
    background-color: #ffa5a5;
    padding: .5em 0;
    margin: .5em 0;
}
#poemwall nav ul, #photorealm nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
#poemwall nav li, #photorealm nav li {
    margin: 0 1em;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 120%;
}
#poemwall nav li a:link, #photorealm nav li a:link {
    color: black;
}
#poemwall nav li a:hover, #photorealm nav li a:hover {
    text-underline-offset: .5em;
}

body#poemwall header {
    display:block;
    width: 100%;
    line-height: 1.8em;
    background-color: #ffa5a5;
    border: 3px solid black;
    & h1 {
        text-align: center;
        padding: .6em;
    }
    & #line {
        word-spacing: -.3em;
        text-decoration: none;
    }
}
#poemwall main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch !important;
    gap: 2em;
    align-items: start;
    & h2 {
        text-decoration: underline dotted;
        text-underline-offset: .3em;
        font-size: 150%;
    }
    & div {
        margin-bottom: 1.2em;
    }
    & div p {
        margin: 0;
        padding: .2em 0;
        font-family: 'courier new';
        text-align: center;
        text-align-last: center;
        text-indent: 0;
        background-color: transparent;
        line-height: 1.2em !important;
        border: 0 transparent;
    }
    & p::first-letter {
        font-style: normal;
    }
}

/*Photo Realm Page*/
#photorealm section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 70%;
    padding: 0; */
    margin: 2em;
    border: 2px solid var(--accent-color);
    & h2 {
        flex-basis: 100%;
        padding: .5em 0;
        margin: 0;
        background-color: #f1bea3;
        text-decoration: underline dashed var(--accent-color);
        text-underline-offset: .3em;
    }
}

/*Photography main img & quote*/
#photorealm section blockquote {
    flex-basis: 100%;
    width: 100%;
    padding: 1em 0;
    border-top: 1px dashed var(--accent-color);
    border-bottom: 1px dashed var(--accent-color);
    font-style: italic;
    text-align: center;
}
#photorealm section img {
    display: block;
    width: 33.333%;
    height: auto;
    margin: 0;
}

footer p {
    font-size: 90%;
    text-align: center;
}
